<ion-header>
  <ion-toolbar>
    <ion-title>NGX Data Table</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item *ngFor="let toogle of tempColumns">
  <ion-toggle
    [checked]="toogle.hidden"
    (ionChange)="toggleme(toogle.name)"
  ></ion-toggle>
  <ion-label>{{toogle.name}}</ion-label>
</ion-item>

<ion-content>
  <div class="ion-padding">
    <ngx-datatable
      class="material"
      [limit]="8"
      [rows]="rows"
      [rowHeight]="50"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      (sort)="onSort($event)"
    >
      <ngx-datatable-column
        [name]="column.name"
        [prop]="column.name |lowercase"
        [flexGrow]="3"
        *ngFor="let column of columns "
      >
        <!-- <div *ngIf="!column.hidden"> -->
        <ng-template
          let-column="column"
          let-sort="sortFn"
          [draggable]="true"
          ngx-datatable-header-template
        >
          <span class="datatable-header-cell-wrapper">
            <span
              class="datatable-header-cell-label draggable"
              (click)="sort()"
              [attr.aria-label]="column.name"
              >{{ column.name }}</span
            >
          </span>
        </ng-template>
        <ng-template
          let-value="value"
          let-row="row"
          ngx-datatable-cell-template
        >
          <div *ngIf="column.name == 'Image'">
            <img [attr.aria-label]="value" [src]="value" />
          </div>
          <div *ngIf="column.name !== 'Image'">
            <span [attr.aria-label]="value">{{value}}</span>
          </div>
        </ng-template>
        <!-- </div> -->
      </ngx-datatable-column>
      <!-- <ngx-datatable-column
        [name]="columns[1].name"
        [draggable]="true"
        [prop]="columns[1].name |lowercase"
        [flexGrow]="3"
      >
        <ng-template
          let-column="column"
          let-sort="sortFn"
          ngx-datatable-header-template
        >
          <span class="datatable-header-cell-wrapper">
            <span
              class="datatable-header-cell-label draggable"
              (click)="sort()"
              [attr.aria-label]="column.name"
              >{{ column.name }}</span
            >
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span [attr.aria-label]="row.company">{{row.company}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="columns[2].name"
        [prop]="columns[2].name |lowercase"
        [draggable]="true"
        [flexGrow]="3"
      >
        <ng-template
          let-column="column"
          let-sort="sortFn"
          ngx-datatable-header-template
        >
          <span class="datatable-header-cell-wrapper">
            <span
              class="datatable-header-cell-label draggable"
              (click)="sort()"
              [attr.aria-label]="column.name"
              >{{ column.name }}</span
            >
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span [attr.aria-label]="row.genre">{{row.genre}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [name]="columns[3].name"
        [draggable]="true"
        [prop]="columns[3].name |lowercase"
        [flexGrow]="3"
      >
        <ng-template
          let-column="column"
          let-sort="sortFn"
          ngx-datatable-header-template
        >
          <span class="datatable-header-cell-wrapper">
            <span
              class="datatable-header-cell-label draggable"
              (click)="sort()"
              [attr.aria-label]="column.name"
              >{{ column.name }}</span
            >
          </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>
            <img [src]="row.image" />
          </span>
        </ng-template>
      </ngx-datatable-column> -->
    </ngx-datatable>
  </div>
</ion-content>
