<ion-header>
  <ion-toolbar>
    <ion-title>NGX Data Table</ion-title>
  </ion-toolbar>
</ion-header>
<div [ngStyle]="{flexWrap:'wrap', display: 'flex'}">
  <ion-item *ngFor="let toogle of columnVisibility">
    <ion-toggle
      [checked]="toogle.hidden"
      (ionChange)="toggleme(toogle.name)"
    ></ion-toggle>
    <ion-label> Hide {{toogle.name}}</ion-label>
  </ion-item>
</div>

<ion-content>
  <div class="ion-padding" style="width: 100%">
    <ngx-datatable
      class="material"
      [limit]="8"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="75"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      (sort)="onSort($event)"
      [sorts]="this.sortOrder"
      (reorder)="rearrange($event)"
      (resize)="resize($event)"
      [scrollbarH]="true"
      (cdkObserveContent)="adjustColumnMinWidth()"
    >
      <ngx-datatable-column
        [name]="column.name"
        [prop]="column.name |lowercase"
        *ngFor="let column of columns"
        [cellClass]="column.name === 'Image' ? 'class1' : 'class2'"
        [minWidth]="column.minWidth !== 0 ? column.minWidth : 0"
        [width]="column.minWidth"
        [canAutoResize]="true"
        [flexGrow]="0"
        id="class3"
      >
        <ng-template
          let-column="column"
          let-sort="sortFn"
          ngx-datatable-header-template
        >
          <span class="datatable-header-cell-wrapper" style="height: 100px">
            <span
              class="datatable-header-cell-label draggable"
              (click)="sort($event)"
              [attr.aria-label]="column.name"
            >
              <!-- <ion-button
                class="btn-primary dropdown-toggle plus-button"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [tooltip]="'menu'"
                style="background: white"
              >
                <ion-icon
                  src="../../assets/icon/dark-dropdown.svg"
                  name="caret-down-outline"
                ></ion-icon>
              </ion-button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li>select Size</li>
              </ul> -->
              <!-- </ion-button> -->
              <!-- <ion-select
                interface="popover"
                placeholder="Select size"
                style="color: black"
              >
                
                <ion-select-option value="apples"
                  >fit-content</ion-select-option
                >
                <ion-select-option value="oranges">100</ion-select-option>
              </ion-select> -->
              {{ column.name }}
            </span>
          </span>
        </ng-template>
        <ng-template
          let-value="value"
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
          [draggable]="true"
        >
          <div *ngIf="column.name === 'Image'">
            <img [attr.aria-label]="value" [src]="value" style="width: 100%" />
          </div>
          <div *ngIf="column.name !== 'Image'">
            <div
              style="white-space: pre"
              (dblclick)="editing[rowIndex + '-' + column.name.toLowerCase()] = true"
              *ngIf="!editing[rowIndex + '-' + column.name | lowercase] "
              [attr.aria-label]="value"
              [draggable]="true"
            >
              {{value}}
            </div>
            <textarea
              autofocus
              (blur)="updateValue($event, column.name.toLowerCase() , rowIndex)"
              *ngIf="editing[rowIndex + '-' + column.name |lowercase]"
              type="text"
              [value]="value"
              [ngStyle]="{width:'100%', minHeight:'auto'}"
            >
            </textarea>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
