<ion-header>
  <ion-toolbar>
    <ion-title>NGX Data Table</ion-title>
  </ion-toolbar>
</ion-header>
<div [ngStyle]="{flexWrap:'wrap', display: 'flex'}">
  <ion-item *ngFor="let toogle of columnVisibility">
    <ion-toggle
      [checked]="toogle.hidden"
      (ionChange)="toggleColumn(toogle.name, $event )"
    ></ion-toggle>
    <ion-label> Hide {{toogle.name}}</ion-label>
  </ion-item>
</div>
<div>
  <ion-item>
    <ion-toggle
      [checked]="this.togglecheck[0].ischecked"
      (ionChange)="toggleRow($event , this.togglecheck[0].ischecked)"
    ></ion-toggle>
    <ion-label>Row Height resizing</ion-label>
  </ion-item>
</div>

<ion-content>
  <div class="ion-padding" style="height: 100%; width: 100%">
    <ngx-datatable
      class="material server-scrolling-demo"
      [limit]="8"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]=" this.togglecheck[0].ischecked == true ? this.rowHeight : '100%'"
      (sort)="onSortColumn($event)"
      [sorts]="this.sortOrder"
      (reorder)="reorderColumn($event)"
      [scrollbarH]="true"
      (resize)="resizingColumn($event)"
      [swapColumns]="true"
      (cdkObserveContent)="adjustColumnMinWidth()"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      id="container"
    >
      <ngx-datatable-column
        [name]="column.name"
        [prop]="column.name |lowercase"
        *ngFor="let column of columns"
        [minWidth]="column.minWidth"
        [width]="column.name === 'Image'? imageWidth  :column.width"
        [canAutoResize]="true"
        [flexGrow]="0"
        id="{{column.name}}"
        [draggable]="true"
        [canAutoResize]="false"
        [sortable]="column.name=='Image'? false : true"
      >
        <ng-template
          let-column="column"
          let-sort="sortFn"
          ngx-datatable-header-template
        >
          <datatable-scroller>
            <span
              style="height: 100px"
              class="datatable-header-cell-wrapper"
              *ngIf="iosPlaform || mobilePlatforme ||
               ipadPlatform"
            >
              <span
                class="datatable-header-cell-label draggable column-header"
                (click)="sort($event)"
                [attr.aria-label]="column.name"
                cdkDrag
              >
                {{ column.name }}
              </span>
            </span>
            <span
              style="height: 100px"
              class="datatable-header-cell-wrapper"
              *ngIf="desktopPlatforme"
            >
              <span
                class="datatable-header-cell-label draggable"
                (click)="sort($event)"
                [attr.aria-label]="column.name"
              >
                {{ column.name }}
              </span>
            </span>
          </datatable-scroller>
        </ng-template>
        <ng-template
          let-value="value"
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
          [draggable]="true"
        >
          <div *ngIf="column.name === 'Image'">
            <img
              [attr.aria-label]="value"
              [src]="value"
              [id]="rowIndex"
              [style]="{height: this.styleCSS.innerHeight , width:imageWidth + 'px' }"
            />
          </div>

          <div *ngIf="column.name !== 'Image'">
            <div
              style="white-space: pre"
              (dblclick)="onEdit(rowIndex, column.name.toLowerCase())"
              (click)="onDoubleclick(rowIndex, column.name.toLowerCase())"
              *ngIf="!editing[rowIndex + '-' + column.name | lowercase]"
              [attr.aria-label]="value"
              [draggable]="true"
            >
              {{value}}
            </div>
            <div>
              <textarea
                autofocus
                [rows]="this.togglecheck[0].ischecked? 2 : 4"
                (blur)="updateCellValue($event, column.name.toLowerCase() , rowIndex)"
                *ngIf="editing[rowIndex + '-' + column.name |lowercase] "
                type="text"
                [value]="value"
                [ngStyle]="{width: this.styleCSS.textAreaWidth , minHeight: this.styleCSS.textAreaMinHight}"
                [id]="'editBox'"
              >
            {{value}}
            </textarea
              >
              <!-- <div>
                <ion-button
                  *ngIf="editing[rowIndex + '-' + column.name |lowercase]"
                  (click)="onResetEdit(column.name.toLowerCase() , rowIndex)"
                >
                  <ion-icon
                    name="save-outline"
                    size="large"
                    slot="icon-only"
                  ></ion-icon>
                </ion-button>

                <ion-button
                  (click)="updateCellValue($event, column.name.toLowerCase() , rowIndex)"
                  *ngIf="editing[rowIndex + '-' + column.name |lowercase]
                  "
                  [value]="value"
                  >Apply</ion-button
                >
              </div> -->
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
