<ion-content
  [fullscreen]="true"
  class="content"
  [scrollEvents]="true"
  (ionScroll)="ionScrolling()"
  >>
  <ion-accordion-group class="accordion-grp">
    <ion-accordion value="colors" class="accordion">
      <ion-item slot="header">
        <ion-label class="accordion-label" [tooltip]="'search presets'"
          >Search</ion-label
        >
      </ion-item>
      <ion-list slot="content" class="list">
        <div
          *ngIf="preSelectList.length > 0 else emptyList"
          class="search-row search-row-select"
        >
          <div class="select-search">
            <span class="span-presets">Presets :</span>
            <div class="select-item">
              <ion-select
                interface="popover"
                placeholder="Presets"
                value="Presets"
                [(ngModel)]="selectedPresetId"
                (ionChange)="this.onPreselectDDLChange($event)"
                id="presets-select"
                [tooltip]="'presets list'"
                (ionFocus)="onSelectFocus($event)"
              >
                <ion-select-option
                  (ionFocus)="onSelectFocus($event)"
                  *ngFor="let pre of preSelectList; let i2 = index"
                  [value]="pre?.id"
                  class="preset-option"
                >
                  {{pre?.filterName}}
                </ion-select-option>
              </ion-select>
            </div>
          </div>
          <div>
            <div class="dropdown save-btn1">
              <ion-button
                class="btn-primary dropdown-toggle plus-button"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [tooltip]="'menu'"
              >
                <ion-icon
                  slot="icon-only"
                  src="../../assets/icon/dots.svg"
                ></ion-icon>
              </ion-button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li class="dropdown-item" (click)="open(content)">
                  Save As New Preset Good morning, I have deployed my app. You
                  can see all of the changes.
                </li>
                <li
                  class="dropdown-item"
                  (click)="updateCurrentPreset( 
                )"
                >
                  <button
                    class="disable-preset-menu"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Update Current Preset
                  </button>
                </li>
                <li
                  class="dropdown-item"
                  (click)="deletePreset(
                  this.selectedPresetId,
                  this.currentPresetName,
                  this.allSearch())"
                >
                  <button
                    class="disable-preset-menu"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Delete Preset
                  </button>
                </li>
                <li class="dropdown-item" (click)="clearFilter()">
                  Clear Preset
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ion-infinite-scroll threshold="100px" (ionScroll)="ionScrolling()">
          <ion-grid class="form-wrapper">
            <form class="" [formGroup]="searchFilterForm">
              <div formArrayName="search">
                <ion-grid
                  cdkDropList
                  (cdkDropListDropped)="drop($event)"
                  class="example-list"
                >
                  <ion-row
                    *ngFor="let quantity of allSearch()?.controls; let i = index ;
                  "
                    [formGroupName]="i"
                    class="example-box preset-row"
                  >
                    <div class="icon">
                      <div>
                        <ion-col class="row-add">
                          <ion-button
                            (click)="addRow(false,i,$event)"
                            [tooltip]="'Add row'"
                          >
                            <ion-icon
                              name="add-circle-outline"
                              size="large"
                              slot="icon-only"
                            ></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col lines="none" class="row-delete">
                          <ion-button
                            class="update"
                            *ngIf="allSearch()?.controls.length > 1 else disableMinus"
                            (click)="removeRow(i)"
                            [tooltip]="'remove row'"
                          >
                            <ion-icon
                              name="remove-circle-outline"
                              size="large"
                              slot="icon-only"
                            ></ion-icon>
                          </ion-button>
                          <ng-template #disableMinus>
                            <ion-button class="update disablebutton" disabled>
                              <ion-icon
                                name="remove-circle-outline"
                                size="large"
                                slot="icon-only"
                              ></ion-icon>
                            </ion-button>
                          </ng-template>
                        </ion-col>
                      </div>
                      <div>
                        <ion-col class="row-add">
                          <ion-button
                            (click)="moveUp($event , i)"
                            *ngIf="allSearch()?.controls.length > 1 && i !== 0 else disableArrowUp"
                            [tooltip]="'drag up'"
                          >
                            <ion-icon
                              slot="icon-only"
                              size="large"
                              src="../../assets/icon/arrow-up-circle-outline.svg"
                            ></ion-icon>
                          </ion-button>
                          <ng-template #disableArrowUp>
                            <ion-button class="update disablebutton" disabled>
                              <ion-icon
                                src="../../assets/icon/arrow-up-circle-outline.svg"
                                size="large"
                                slot="icon-only"
                              ></ion-icon>
                            </ion-button>
                          </ng-template>
                        </ion-col>
                        <ion-col lines="none" class="row-delete">
                          <ion-button
                            class="update"
                            *ngIf="allSearch()?.controls.length > 1 && allSearch()?.controls.length-1 > i  else disableArrowDown"
                            (click)="moveDown($event,i)"
                            [tooltip]="'drag down'"
                          >
                            <ion-icon
                              src="../../assets/icon/arrow-down-circle-outline.svg"
                              size="large"
                              slot="icon-only"
                            ></ion-icon>
                          </ion-button>
                          <ng-template #disableArrowDown>
                            <ion-button class="update disablebutton" disabled>
                              <ion-icon
                                src="../../assets/icon/arrow-down-circle-outline.svg"
                                size="large"
                                slot="icon-only"
                              ></ion-icon>
                            </ion-button>
                          </ng-template>
                        </ion-col>
                      </div>
                    </div>
                    <ion-col
                      size-lg="3"
                      size-md=""
                      size-sm=""
                      size-xl="2"
                      size-xs="12"
                    >
                      <select
                        class="select-class"
                        formControlName="param1"
                        [ngClass]="(!allSearch().controls[i].get('param1').valid && submitted) ? 'error' : ''"
                        (change)="onParam1Change(i)"
                      >
                        <option disabled selected value>
                          select an option
                        </option>
                        <option
                          class="select-options"
                          [value]="param1?.id"
                          *ngFor="let param1 of searchData; let i= index"
                        >
                          {{param1?.name}}
                        </option>
                      </select>
                    </ion-col>
                    <ion-col
                      size-lg="3"
                      size-md=""
                      size-sm=""
                      size-xl="2"
                      size-xs="12"
                    >
                      <select
                        class="select-class disableSelect"
                        formControlName="param2"
                        onselect=""
                        (change)="onParam2Change(i,true)"
                        [ngClass]="!allSearch().controls[i].get('param2')?.valid && submitted ? 'error' : ''"
                      >
                        <option
                          class="select-options"
                          [value]="p2.id"
                          *ngFor="let p2  of param2List[i];"
                        >
                          {{p2.name}}
                        </option>
                      </select>
                    </ion-col>
                    <ion-col
                      size-xs="12"
                      size-sm=""
                      class="input-wrapper input-range"
                    >
                      <ion-input
                        clearOnEdit="true"
                        type="text"
                        class="input-box"
                        formControlName="param3"
                        (focusout)="getValue($event, i)"
                        [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                        *ngIf="!isDateType(i) else dates"
                      >
                      </ion-input>
                      <ion-button
                        class="clear-param3"
                        *ngIf="this.allSearch().controls[i].get('param3')?.value !== ''"
                        (click)="handleClear(i)"
                      >
                        <ion-icon src="../../assets/icon/close-outline.svg">
                        </ion-icon>
                      </ion-button>
                      <ng-template #dates>
                        <ion-input
                          onkeypress="return false;"
                          placeholder="Start Date"
                          onkeydown="return false"
                          class="input-box range"
                          formControlName="param3"
                          [value]="this.datePickersInfo[i]?.start?.formatedValue"
                          [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                          *ngIf="allSearch().controls[i].get('param2')?.value === 'BETWEEN'"
                          (click)="this.datePickerInputOnClick('start',i, $event)"
                          (mousedown)="$event.preventDefault()"
                        >
                        </ion-input>
                        <ion-datetime
                          #datetime
                          [presentation]="selectMode"
                          *ngIf="datePickersInfo?.[i]?.start?.open"
                          class="ion-datetime-start"
                          formControlName="param3"
                          [value]="this.datePickersInfo[i]?.start?.formatedValue"
                          (ionChange)="this.dateChanged('start',datetime.value,i, $event)"
                          showDefaultButtons="true"
                          (ionCancel)="this.datePickersInfo[i].start.open = false"
                          min="2000-01-01T00:00:00"
                        >
                          <span slot="title">Select a start date</span>
                        </ion-datetime>
                        <ion-input
                          onkeypress="return false;"
                          onkeydown="return false"
                          placeholder=" Pick Date"
                          class="input-box datepicker"
                          [value]="this.datePickersInfo[i]?.start?.formatedValue"
                          formControlName="param3"
                          (mousedown)="$event.preventDefault()"
                          [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                          *ngIf="allSearch().controls[i]?.get('param2')?.value !== 'BETWEEN'"
                          (click)="this.datePickerInputOnClickNotBetween(i)"
                        >
                        </ion-input>
                      </ng-template>
                    </ion-col>

                    <ion-col
                      size-xs="12"
                      size-sm=""
                      class="input input-range-end"
                      *ngIf="allSearch().controls[i].get('param2')?.value === 'BETWEEN'"
                    >
                      <ion-datetime
                        #datetime
                        [presentation]="selectMode"
                        *ngIf="datePickersInfo?.[i]?.end?.open"
                        formControlName="param4"
                        [value]="this.datePickersInfo[i]?.end?.formatedValue"
                        class="ion-datetime-end"
                        (ionChange)="this.dateChanged('end',datetime.value , i, $event)"
                        showDefaultButtons="true"
                        (ionCancel)="this.datePickersInfo[i]?.end.open = false"
                        [min]="datePickersInfo?.[i]?.start?.formatedValue || this.allSearch().controls[i].get('param3').value  || '2000-01-01T00:00:00'"
                        max="2500-01-01T00:00:00"
                      >
                        <span slot="title">Select an end date</span>
                      </ion-datetime>
                      <ion-input
                        onkeypress="return false;"
                        placeholder="End Date"
                        onkeydown="return false"
                        class="input-box range"
                        formControlName="param4"
                        (mousedown)="$event.preventDefault()"
                        [value]="this.datePickersInfo[i]?.end?.formatedValue"
                        [ngClass]="!allSearch().controls[i].get('param4')?.valid && submitted ? 'error' : ''"
                        *ngIf="isDestinationNeeded(i)"
                        (click)="this.datePickerInputOnClick('end',i, $event)"
                        id="date-range-input"
                      >
                      </ion-input>
                      <ion-button
                        class="clear-param4"
                        *ngIf="this.allSearch().controls[i].get('param4')?.value !== ''"
                        (click)="handleClearFourthField(i)"
                      >
                        <ion-icon src="../../assets/icon/close-outline.svg">
                        </ion-icon>
                      </ion-button>
                      <div></div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </form>
            <ion-item>
              <ion-row class="btn-group">
                <ion-col size-xs="12" size-sm="12" class="apply-filter">
                  <ion-button
                    [disabled]="this.currentPresetName === ''|| this.allSearch().value[0].param1 === '' ? true : false"
                    (click)="applyFilter()"
                    class="apply-btn"
                    [tooltip]="'search filter'"
                    >Search</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item lines="none">
              <ion-row class="save-row ion-align-items-center">
                <ion-col size-xs="3" size-sm="2" class="modi-btn"> </ion-col>
                <ion-col class="error-col" size-xs="4" size-sm="3">
                  <ion-text
                    ><span class="message" id="message"
                      >{{message}}</span
                    ></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-grid>
        </ion-infinite-scroll>

        <ng-template #emptyList>
          <div class="no-saved-presets">
            <div>
              <ion-text text class="no-presets"> No saved Presets </ion-text>
            </div>
            <div class="dropdown save-btn1">
              <ion-button
                class="btn-primary dropdown-toggle plus-button"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [tooltip]="'menu'"
              >
                <ion-icon
                  slot="icon-only"
                  src="../../assets/icon/dots.svg"
                ></ion-icon>
              </ion-button>

              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li class="dropdown-item" (click)="open(content)">
                  Save As New Preset
                </li>
                <li class="dropdown-item" (click)="updateCurrentPreset()">
                  <button
                    class="disable-preset-menu"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Update Current Preset
                  </button>
                </li>
                <li
                  class="dropdown-item"
                  (click)="deletePreset(
                  this.selectedPresetId,
                  this.currentPresetName,
                  this.allSearch()
                )"
                >
                  <button
                    class="disable-preset-menu"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Delete Preset
                  </button>
                </li>
                <li class="dropdown-item" (click)="clearFilter()">
                  Clear Preset
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Save new preset</h4>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="dateOfBirth">Enter preset name:</label>
        <div class="input-group">
          <input
            clearInput
            class="input-box form-control"
            placeholder="Enter preset name"
            [(ngModel)]="currentPresetName"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button
        [disabled]="!this.isfieldsHasValue(currentPresetName)"
        (click)="savePreselectForm(
        this.getPersistPresetSearchParsed(),
        this.searchFilterForm,
        this.preSelectList,
        this.currentPresetName
        ); 
        modal.dismiss('button')
        "
        class="btn btn-outline-dark save-button"
      >
        Save
      </button>
      <ng-template #button1> </ng-template>
    </div>
  </ng-template>
  <div class="my-progress">
    <li>
      1) Features Added :
      <h1>9 of August</h1>
      <p>- Add a "Presets: " label to the left of current preset name.</p>
      <p>- Add this icon "▼" next to the preset label.</p>
      <p>- Add this icon "▼" on the right of the first and second selectors.</p>
      <p>
        - Working in progress with adding X to clear input both "Between" dates
        , exactly...
      </p>
      <h1>10 Of August</h1>
      <p>
        - Added clear "X" button to the right of both "Between" dates in the
        same way as you did for text fields.
      </p>
      <p>
        - Added "X" button on the right of "Exactly", "Before" and "After" looks
        like in the same way as for text fields
      </p>
      <p>
        - Replaced Drag-and-drop with to additional buttons to the right of
        "(-)" button: arrow up and arrow down ( it is with functionality)
      </p>
      <h1>11 of August</h1>
      <p>- Adding placeholder to the date</p>
      <h1>18 of August</h1>
      <p>Adding post to request from the server</p>
    </li>
    <li>
      2) Bugs fixed :
      <h1>9 of August</h1>
      <p>
        - Fixing : (load a preset, do any modifications, try to load another
        preset, confirm this - then the same preset that was already loaded
        loads again, not a new selected one)
      </p>
      <p>
        - Fixing : ( select modification date, exactly and set a date. then
        change the second selecter to between. first date got filled correctly,
        but when try to select the second date, then Please fill third field
        message got displayed despite it's filled ). But I need to fix the date
        validation
      </p>
      <h1>11 of August</h1>
      <p>
        - visual style difference: third text field and date fields in between
        selector mode have sharp corners, right is how you display data for
        exactly mode (Fixed)
      </p>
      <p>
        - data validation bug: select modification date, between and set a dates
        (A and B). then change the second selecter to exactly. change date to
        the date (C) that is in future comparing to (B). change the second
        selecter to between. both dates are filled, but in the incorrect meneer
        when second date (B) is in the past comparing to the first (C). AND it
        is possible to save preset or update existing with those dates that
        break logic (Fixed)
      </p>
      <p>
        - select first and second selectors with the combination that uses text
        field. then switch first selector to modification date - date field
        becomes pre-filled with whatever text was in the text field. AND it is
        possible to save preset or update existing with this wrong text as date
        value (Fixed)
      </p>
      <p>Fixing the bugs when I added multiple row</p>
      <h1>12 of August</h1>
      <p>fixed the opening automatically when the use click the date</p>

      <h1>16 of August</h1>
      <p>
        - Added new X icon and added some functionality to update the data
        fields
      </p>
      <p>
        Fixing the discard when the user click no then they have to go back to
        the current preset
      </p>
      <h1>18 of August</h1>
      <p>Fixing the date with exactly... and between</p>
      <h1>19 of August</h1>
      <p>
        Fixing the date : user click between then fill both field then click the
        exactly or others then save it. when the user click the preset name then
        confirmation of discar pops up which id not right.
      </p>
      <p>add condition to not allow user to click "search" button</p>
      <h1>22 of August</h1>
      <p>
        Adding confirmation if there is an empty input while the user tempted to
        click the "search" and when user forget to fill the fourth field when
        the click between
      </p>
    </li>

    <li>
      3) UI redesigned.
      <h1>10 of August</h1>
      <p>- change the form into column when it is on mobile.</p>
      <p>Make the "▼" a bit near the name</p>
      <h1>12 of August</h1>
      <p>Add scroll when user add more row</p>
      <p>
        Fixing the height so to let the user to see the cancel and ok when they
        want to confirm the date
      </p>
      <h1>16 of August</h1>
      <p>- Making the text inside of input field to be in line</p>
      <p>- Fixing the incon to be the same position</p>
    </li>
    <li>
      4) Working on progress
      <h1>12 of August</h1>
      <p>working with the discard</p>
    </li>
    <li>
      5) Optimisation :
      <h1>19 of August</h1>
      <p>Refactor the save function to avoid repeated</p>
      <p>Creat variable on scss</p>
    </li>
  </div>
</ion-content>
