<!-- Basic -->
<ion-content [fullscreen]="true" class="content">
  <ion-accordion-group class="accordion-grp">
    <ion-accordion value="colors" class="accordion">
      <ion-item slot="header">
        <ion-label class="accordion-label" [tooltip]="'search presets'"
          >Search</ion-label
        >
      </ion-item>
      <ion-list slot="content" class="list">
        <div
          *ngIf="preSelectList.length > 0 else emptyList"
          class="search-row search-row-select"
        >
          <div class="select-search">
            <div class="select-item">
              <ion-select
                interface="popover"
                placeholder="Presets"
                value="Presets"
                [(ngModel)]="selectedPresetId"
                (ionChange)="this.onPreselectDDLChange($event)"
                id="presets-select"
                [tooltip]="'presets list'"
                (ionFocus)="onSelectFocus($event)"
              >
                <ion-select-option
                  (ionFocus)="onSelectFocus($event)"
                  *ngFor="let pre of preSelectList; let i2 = index"
                  [value]="pre?.id"
                  class="preset-option"
                >
                  {{pre?.filterName}}
                </ion-select-option>
              </ion-select>
            </div>
          </div>
          <div>
            <div class="dropdown save-btn1">
              <ion-button
                class="btn-primary dropdown-toggle plus-button"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [tooltip]="'menu'"
              >
                <ion-icon
                  slot="icon-only"
                  src="../../assets/icon/dots.svg"
                ></ion-icon>
              </ion-button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li class="dropdown-item" (click)="open(content)">
                  Save As New Preset
                </li>
                <li
                  class="dropdown-item"
                  (click)="updateCurrentPreset( 
                )"
                >
                  <button
                    class="update-current-preset"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Update Current Preset
                  </button>
                </li>
                <li
                  class="dropdown-item"
                  (click)="deletePreset(
                  this.selectedPresetId,
                  this.currentPresetName,
                  this.allSearch())"
                >
                  <button
                    class="update-current-preset"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Delete Preset
                  </button>
                  <!-- Delete Preset -->
                </li>
                <li class="dropdown-item" (click)="clearFilter()">
                  Clear Preset
                </li>
              </ul>
            </div>
          </div>
        </div>
        <ion-grid class="form-wrapper" style="overflow: overlay; height: 100vh">
          <form class="" [formGroup]="searchFilterForm">
            <div formArrayName="search">
              <ion-grid
                cdkDropList
                (cdkDropListDropped)="drop($event)"
                class="example-list"
              >
                <ion-row
                  *ngFor="let quantity of allSearch()?.controls; let i = index"
                  [formGroupName]="i"
                  class="example-box"
                >
                  <ion-col class="row-add">
                    <ion-button
                      (click)="addRow(false,i,$event)"
                      [tooltip]="'Add row'"
                    >
                      <ion-icon
                        name="add-circle-outline"
                        size="large"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col lines="none" class="row-delete">
                    <ion-button
                      class="update"
                      *ngIf="allSearch()?.controls.length > 1 else disableMinus"
                      (click)="removeRow(i)"
                      [tooltip]="'remove row'"
                    >
                      <ion-icon
                        name="remove-circle-outline"
                        size="large"
                        slot="icon-only"
                      ></ion-icon>
                    </ion-button>
                    <ng-template #disableMinus>
                      <ion-button class="update disablebutton" disabled>
                        <ion-icon
                          name="remove-circle-outline"
                          size="large"
                          slot="icon-only"
                        ></ion-icon>
                      </ion-button>
                    </ng-template>
                  </ion-col>
                  <ion-col size-lg="3" size-md="4" size-sm="4" size-xl="2">
                    <select
                      class="select-class"
                      formControlName="param1"
                      [ngClass]="(!allSearch().controls[i].get('param1').valid && submitted) ? 'error' : ''"
                      (change)="onParam1Change(i)"
                      onchange=""
                    >
                      <option disabled selected value>select an option</option>
                      <option
                        class="select-options"
                        [value]="param1?.id"
                        *ngFor="let param1 of searchData; let i= index"
                      >
                        {{param1?.name}}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size-lg="3" size-md="4" size-sm="3" size-xl="2">
                    <select
                      class="select-class"
                      formControlName="param2"
                      onselect=""
                      (change)="onParam2Change(i,true)"
                      [ngClass]="!allSearch().controls[i].get('param2')?.valid && submitted ? 'error' : ''"
                    >
                      <option
                        class="select-options"
                        [value]="p2.id"
                        *ngFor="let p2  of param2List[i];"
                      >
                        {{p2.name}}
                      </option>
                    </select>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="" class="input-wrapper">
                    <ion-input
                      clearInput
                      clearOnEdit="true"
                      type="text"
                      class="input-box"
                      formControlName="param3"
                      (focusout)="getValue($event, i)"
                      [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                      *ngIf="!isDateType(i) else dates"
                    >
                    </ion-input>
                    <ng-template #dates>
                      <ion-input
                        readonly
                        class="input-box range"
                        formControlName="param3"
                        [value]="this.datePickersInfo[i]?.start?.formatedValue"
                        [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                        *ngIf="allSearch().controls[i].get('param2')?.value === 'BETWEEN'"
                        (click)="this.datePickerInputOnClick('start',i, $event)"
                        clearInput
                      >
                      </ion-input>
                      <ion-datetime
                        #datetime
                        [presentation]="selectMode"
                        *ngIf="datePickersInfo?.[i]?.start?.open"
                        class="ion-datetime-start"
                        formControlName="param3"
                        (ionChange)="this.dateChanged( 'start',datetime.value,i, $event)"
                        [value]="this.datePickersInfo[i].start.formatedValue"
                        showDefaultButtons="true"
                        (ionCancel)="this.datePickersInfo[i].start.open = false"
                        min="2000-01-01T00:00:00"
                        id="test1"
                      >
                        <span slot="title">Select a start date</span>
                      </ion-datetime>
                      <ion-input
                        clearInput="true"
                        class="input-box datepicker"
                        [value]="this.valueInputPicker"
                        formControlName="param3"
                        [ngClass]="!allSearch().controls[i].get('param3')?.valid && submitted ? 'error' : ''"
                        *ngIf="allSearch().controls[i].get('param2')?.value !== 'BETWEEN'"
                        (click)="this.datePickerInputOnClickNotBetween(i, $event)"
                      >
                      </ion-input>
                      <ion-datetime
                        #datetime
                        [presentation]="selectMode"
                        *ngIf="showDatePicker"
                        showDefaultButtons="true"
                        [value]="this.valueInputPicker"
                        class="datepicker-input"
                        (ionCancel)="showDatePicker= false"
                        (ionChange)="dateChangedInputPicker(datetime.value)"
                      >
                        <span slot="title"> Pick date </span>
                      </ion-datetime>
                    </ng-template>
                  </ion-col>

                  <ion-col
                    size-xs="12"
                    size-sm=""
                    class="input"
                    *ngIf="allSearch().controls[i].get('param2')?.value === 'BETWEEN'"
                  >
                    <ion-datetime
                      #datetime
                      [presentation]="selectMode"
                      *ngIf="datePickersInfo?.[i]?.end?.open"
                      formControlName="param4"
                      [value]="this.datePickersInfo[i]?.end?.formatedValue"
                      class="ion-datetime-end"
                      (ionChange)="this.dateChanged('end',datetime.value , i, $event)"
                      showDefaultButtons="true"
                      (ionCancel)="this.datePickersInfo[i]?.end.open = false"
                      [min]="datePickersInfo?.[i]?.start?.formatedValue || '2000-01-01T00:00:00'"
                      max="2500-01-01T00:00:00"
                    >
                      <!-- 
                      datePickersInfo?.[i]?.start?.formatedValue == '' ?
                     -->
                      <span slot="title">Select an end date</span>
                    </ion-datetime>
                    <ion-input
                      clearInput
                      readonly
                      class="input-box range"
                      formControlName="param4"
                      [value]="this.datePickersInfo[i].end.formatedValue"
                      [ngClass]="!allSearch().controls[i].get('param4')?.valid && submitted ? 'error' : ''"
                      *ngIf="isDestinationNeeded(i)"
                      (click)="this.datePickerInputOnClick('end',i, $event)"
                      id="date-range-input"
                    >
                    </ion-input>
                    <div></div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </form>
          <ion-item>
            <ion-row class="btn-group">
              <ion-col size-xs="12" size-sm="12" class="apply-filter">
                <ion-button
                  (click)="applyFilter()"
                  class="apply-btn"
                  [tooltip]="'search filter'"
                  >Search</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item lines="none">
            <ion-row class="save-row ion-align-items-center">
              <ion-col size-xs="3" size-sm="2" class="modi-btn"> </ion-col>
              <ion-col class="error-col" size-xs="4" size-sm="3">
                <ion-text
                  ><span class="message" id="message"
                    >{{message}}</span
                  ></ion-text
                >
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-grid>
        <ng-template #emptyList>
          <div class="no-saved-presets">
            <div>
              <ion-text text class="no-presets"> No saved Presets </ion-text>
            </div>
            <div class="dropdown save-btn1">
              <ion-button
                class="btn-primary dropdown-toggle plus-button"
                type="button"
                id="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                [tooltip]="'menu'"
              >
                <ion-icon
                  slot="icon-only"
                  src="../../assets/icon/dots.svg"
                ></ion-icon>
              </ion-button>

              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li class="dropdown-item" (click)="open(content)">
                  Save As New Preset
                </li>
                <li class="dropdown-item" (click)="updateCurrentPreset()">
                  <button
                    class="update-current-preset"
                    [disabled]="this.currentPresetName === '' ? true : false"
                  >
                    Update Current Preset
                  </button>
                  <!-- Update Current Preset -->
                </li>
                <li
                  class="dropdown-item"
                  (click)="deletePreset(
                  this.selectedPresetId,
                  this.currentPresetName,
                  this.allSearch()
                )"
                >
                  Delete Preset
                </li>
                <li class="dropdown-item" (click)="clearFilter()">
                  Clear Preset
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Save new preset</h4>
      <!-- <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button> -->
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="dateOfBirth">Enter preset name:</label>
        <div class="input-group">
          <input
            clearInput
            class="input-box form-control"
            placeholder="Enter search name"
            [(ngModel)]="currentPresetName"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('Cross click')"
      >
        Cancel
      </button>
      <button
        [disabled]="currentPresetName?.length < 1"
        (click)="savePreselectForm(
          this.getPersistPresetSearchParsed(),
          this.searchFilterForm,
          this.preSelectList,
          this.currentPresetName
        ); 
        modal.dismiss('Cross click')
        "
        class="btn btn-outline-dark"
      >
        Save
      </button>
      <ng-template #button1> </ng-template>
    </div>
  </ng-template>
</ion-content>

<!-- 
  - it should not be possible to enter arbitrary text in the date fields as well as years before 2000

- it is possible to save/update preset with empty/wrong second date in the between filter

- trying to save new preset with existing name should now close save dialog after error message

- date fields should look visually the save in exact and between date variants

- type, should be "Clear preset" not "Clear presets"

- save as new preset says "search preset", should be "Save new preset"

- update current preset option should be enabled only for saved or lodaded presets
 -->
